

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec


.env
.env.*

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
